.newTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.btnAdd {
    margin: 0 5px 0 10px;
    padding: 16px;
    color: #575b88;
    font-weight: bold;
    /*background-color: aqua;*/
    border-radius: 6px;
    border: 0;
}

.btnAdd:hover {
    background-color: #575b88;
    color: #fff;
    cursor: pointer;
}

.inputTask {
    width: 100%;
    margin-right: 10px;
}