.task {
    color: #000000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /*background-color: #fff;*/
    /*margin: 8px 0;*/
    /*border-radius: 10px;*/
    /*padding: 10px 0 10px 12px;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);*/
    /*text-align: left;*/
}
