* {
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
}
body, #root {
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1 0 auto;
  background-color: #f8fbff;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #575b88;
}

.footer {
  text-align: center;
  flex-shrink: 0;
  padding: 10px 0;
}